
nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar {
    background-color: #92b4e3;
    color: #fff;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover {
    color: grey;
}


.navbar a:hover {
    background-color: grey;
}


#containerCreateStudent {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#containerUpdateStudent {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#containerChooseStudent {
    text-align: center;
    margin-top: 0px;
}

.form-group label {
    font-weight: bold;
}


.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.error {
    color: red;
    font-style: italic;
}
